<html>
<head>
    <style>
        .col {
            padding: 3px 20px 3px 20px
        }
    </style>
</head>
<body style="font-family: SimSun;">
<table border="1" style='border-collapse: collapse;'>
    <tr>
        <td class="col">姓名：</td>
        <td class="col">${name}</td>
    </tr>
    <tr>
        <td class="col">年龄：</td>
        <td class="col">0age</td>
    </tr>
    <tr>
        <td class="col">性别：</td>
        <td class="col">boy</td>
    </tr>
    <tr>
        <td class="col">职业：</td>
        <td class="col">段子手</td>
    </tr>
</table>
</body>
</html>
